<html>
 {% load static %}
 {% load has_group %}
<html>
  <head>
    <title>Cast service</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400"
    rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  </head>
  <body>
  <div>
      <header>

          <nav class="navbar navbar-expand-lg navbar-light bg-dark text-white">
            <div class=" nav-left">
                <a class="nav-item  nav-link active px-4 text-secondary" href="{% url 'home' %}">Кастинги</a>
            </div>

              {% if user.is_authenticated %}

                  {% if request.user|has_group:"Moderator" or request.user.is_superuser %}
                      <a class="nav-item  nav-link active px-4 text-secondary" href="{% url 'create' %}">Добавить кастинг</a>
                      <a class="nav-item  nav-link active px-4 text-secondary" href="{% url 'view_actors' %}">Показать актеров</a>
                  {% else %}
                      <a class="nav-item  nav-link active px-4 text-secondary" href="#">Заявки</a>
                  {% endif %}
                  <span class="navbar-text text-white">Здравствуйте, {{ user.username }}</span>
                  <a class="btn btn-outline-light me-2" href="{% url 'logout' %}">Выйти</a>
                  <a href="{% url 'profile_view' pk=user.id %}"><button class="btn btn-info"><i></i>Профиль</button></a>
              {% else %}
                  <span class="navbar-text text-white">Вход не выполнен</span>
                  <a class="btn btn-outline-light me-2" href="{% url 'login' %}">Войти</a><br>
                  <a class="btn btn-warning" href="{% url 'signup' %}">Регистрация</a>

              {% endif %}
          </nav>

      </header>
      <div class="container">
          {% block content %}
          {% endblock content %}
      </div>
  </div>
  </body>
</html>