{% extends 'base.html' %}
{% load has_group %}

{% block content %}
  <div>
  <div class="casting-entry" style="width: 50%; float: left">
    <h2>{{ casting.title }}</h2>
    <p>Требуются: {{ casting.category }}</p>
    <h3>Рост: {{ casting.height }} Одежда: {{ casting.size }} Обувь: {{ casting.sizeshoe }}</h3>
    <p>Дата съемки: {{ casting.date }} Время сбора  {{ casting.time }}</p>
    <p>Адрес: {{ casting.place }}</p>
    <p>Занятость: {{ casting.hour }}</p>
    <p>Ставка: {{ casting.fee }}</p>
    <p>Описание: {{ casting.description }}</p>
  </div>
    {% if request.user|has_group:"Moderator" or request.user.is_superuser %}
    <div style="width: 50%; float: left">
        <h2>Отклики</h2>
        {% for order in orders %}
                <div>
                    <a href="{% url 'profile_view' order.user.id %}">{{ order.user.fio }}</a> <br>
                            {% if order.user.photo %}
                            <img src="{{ order.user.photo.url }}" sizes="" height="100" width="100" alt="Аватар">
                            {% endif %}
                </div>
                <form method="post">
                    {% csrf_token %}
                    {% if order.hired %}
                        <input class="btn btn-primary" type="submit" value="{{ order.hired }}" name="test_id">Нанять</input>
                    {% else %}
                        <input class="btn btn-primary" type="submit" value="{{ order.hired }}" name="test_id">Снять кандидатуру</input>
                    {% endif %}
                    <input type="hidden" value="{{ order.id }}" name="order_id">
                </form>
        {% endfor %}
    </div>
    {% endif %}
  </div>
{% endblock content %}