{% extends 'base.html' %}
{% load has_group %}

{% block content %}
  <div>
  <div class="casting-entry text-white" style="width: 50%; float: left">
    <h2>{{ casting.title }}</h2>
    <div class="border border-white rounded"  style="padding-left: 2rem">
    <p>Требуются: {{ casting.category }}</p>
    <p>Рост: {{ casting.height }} Одежда: {{ casting.size }} Обувь: {{ casting.sizeshoe }}</p>
    <p>Дата съемки: {{ casting.date }} Время сбора  {{ casting.time }}</p>
    <p>Адрес: {{ casting.place }}</p>
    <p>Занятость: {{ casting.hour }}</p>
    <p>Ставка: {{ casting.fee }}</p>
    <p>Описание: {{ casting.description }}</p>
    {% if casting.id in cast_ids %}
      <form method="post" action="{% url 'delete_order' casting.id %}">
                    {% csrf_token %}
                    <input class="btn btn-primary alert alert-danger" type="submit" value="Отозвать заявку" name="test_id">
                    <input type="hidden" name="casting_id" value={{ casting.id }}>
      </form>
    {% else %}
       <form method="post" action="{% url 'create_order' casting.id %}">
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" value="Откликнуться на заявку" name="test_id">
                <input type="hidden" name="casting_id" value={{ casting.id }}>
        </form>
    {% endif %}
    </div>
  </div>
    {% if request.user|has_group:"Moderator" or request.user.is_superuser %}
    <div class="text-white" style=" width: 50%; float: left">
        <h2 align="center">Заявки</h2>
        {% for order in orders_true %}
            <div class="border border-white rounded" style="width:90%; float: right">
                <div>
                            {% if order.user.photo %}
                            <img class="border border-dark rounded " src="{{ order.user.photo.url }}" height="100" width="100" alt="Аватар">
                            {% endif %}
                    <div style="display: inline-block;">
                                <a class="text-white" style="font-size: 160%;" href="{% url 'profile_view' order.user.id %}">{{ order.user.fio }}</a><br>
                                <a >{{ order.user.height }}/{{ order.user.size }}/{{ order.user.shoe }} Возраст: {{ order.user.birth_date }}</a><br>
{#                                <a >Тел: {{ order.user.phone }}</a>#}
                    </div>
                </div>
                <form method="post">
                    {% csrf_token %}
                    {% if order.hired %}
                        <input class="btn btn-primary" type="submit" value="Снять кандидатуру">
                        <input type="hidden" value={{ order.hired }} name="test_id">
                    {% else %}
                        <input class="btn btn-primary" type="submit" value="Нанять">
                        <input type="hidden" value={{ order.hired }} name="test_id">
                    {% endif %}
                    <input type="hidden" value="{{ order.id }}" name="order_id">
                </form>
                {% if order.hired %}
                    <form method="post" action="{% url 'checked_out' %}">
                            {% csrf_token %}
                            {% if order.checked_out %}
                                <input class="btn btn-primary" type="submit" value="Отменить прибытие">
                                <input type="hidden" value="{{ order.checked_out }}" name="checked_out">
                                <input type="hidden" value="{{ order.id }}" name="order_id">
                            {% else %}
                                <input class="btn btn-primary" type="submit" value="Прибыл">
                                <input type="hidden" value="{{ order.checked_out }}" name="checked_out">
                                <input type="hidden" value="{{ order.id }}" name="order_id">
                            {% endif %}
                    </form>
                {% endif %}
            </div>
        {% endfor %}
        {% for order in order_false %}
            <div class="border border-white rounded" style="width:90%; float: right">
                <div>
                            {% if order.user.photo %}
                            <img class="border border-dark rounded " src="{{ order.user.photo.url }}" height="100" width="100" alt="Аватар">
                            {% endif %}
                    <div style="display: inline-block;">
                                <a class="text-white" style="font-size: 160%;" href="{% url 'profile_view' order.user.id %}">{{ order.user.fio }}</a><br>
                                <a >{{ order.user.height }}/{{ order.user.size }}/{{ order.user.shoe }} Возраст: {{ order.user.birth_date }}</a><br>
{#                                <a >Тел: {{ order.user.phone }}</a>#}
                    </div>
                </div>
                <form method="post">
                    {% csrf_token %}
                    {% if order.hired %}
                        <input class="btn btn-primary" type="submit" value="Снять кандидатуру">
                        <input type="hidden" value={{ order.hired }} name="test_id">
                    {% else %}
                        <input class="btn btn-primary" type="submit" value="Нанять">
                        <input type="hidden" value={{ order.hired }} name="test_id">
                    {% endif %}
                    <input type="hidden" value="{{ order.id }}" name="order_id">
                </form>
                {% if order.hired %}
                    <form method="post" action="{% url 'checked_out' %}">
                            {% csrf_token %}
                            {% if order.checked_out %}
                                <input class="btn btn-primary" type="submit" value="Отменить прибытие">
                                <input type="hidden" value="{{ order.checked_out }}" name="checked_out">
                                <input type="hidden" value="{{ order.id }}" name="order_id">
                            {% else %}
                                <input class="btn btn-primary" type="submit" value="Прибыл">
                                <input type="hidden" value="{{ order.checked_out }}" name="checked_out">
                                <input type="hidden" value="{{ order.id }}" name="order_id">
                            {% endif %}
                    </form>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    {% endif %}
  </div>
{% endblock content %}