{% extends 'base.html' %}

{% block content %}
  {% for casting in castings %}
    <div class="casting-entry">
      <h2><a href="{% url 'casting_detail' casting.pk %}">{{ casting.title }}</a></h2>
      <p>Требуются: {{ casting.category }}</p>
      <h3>Рост: {{ casting.height }} Одежда: {{ casting.size }} Обувь: {{ casting.sizeshoe }}</h3>
      <p>Дата съемки: {{ casting.date }} Время сбора  {{ casting.time }}</p>
      <p>Адрес: {{ casting.place }}</p>
      <p>Занятость: {{ casting.hour }}</p>
      <p>Ставка: {{ casting.fee }}</p>
      <p>Описание: {{ casting.description }}</p>
        {% if not order %}
        <form method="post">
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" value="Откликнуться на заявку" name="test_id">
            <input type="hidden" name="casting_id" value={{ casting.id }}>
        </form>
        {% endif %}
    </div>
  {% endfor %}
{% endblock content %}