{% extends 'base.html' %}
{% load has_group %}

{% block content %}
    {% for casting in castings %}
        <div class="casting-entry border border-white rounded text-white  ">

            <h2><a href="{% url 'casting_detail' casting.pk %}">{{ casting.title }}</a></h2>
            <div class="row justify-content-between">
                <div class="col-4">
                    <p>Требуются: {{ casting.category }}</p>
                    <p>Рост: {{ casting.height }} Одежда: {{ casting.size }} Обувь: {{ casting.sizeshoe }}</p>
                    <p>Дата съемки: {{ casting.date }} Время сбора {{ casting.time }}</p>
                    <p>Адрес: {{ casting.place }}</p>
                    <p>Занятость: {{ casting.hour }}</p>
                    <p>Ставка: {{ casting.fee }}</p>
                    <p>Описание: {{ casting.description }}</p>
                    <p style="font-size: 20px;"> Опубликовал: {{ casting.author.fio }}</p>
                </div>
                <div class="col-4">
                    {% if casting.image %}
                        <img class=" border border-white rounded  " src="{{ casting.image.url }}" height="210"
                             width="380"
                             alt="Аватар" align="right" hspace="21%" vspace="0">
                    {% endif %}
                </div>
            </div>
            {% if user.is_authenticated %}
                <div class="child">
                    {% if casting.id in cast_ids %}
                        {% if casting.id  in cast_hired %}
                            <form method="post" action="{% url 'delete_order' casting.id %}">
                                {% csrf_token %}
                                <input class="btn btn-primary alert alert-info" type="submit" value="Вы приняты"
                                       name="test_id">
                                <input type="hidden" name="casting_id" value={{ casting.id }}>
                            </form>
                        {% else %}
                            <form method="post" action="{% url 'delete_order' casting.id %}">
                                {% csrf_token %}
                                <input class="btn btn-primary alert alert-danger" type="submit" value="Отозвать заявку"
                                       name="test_id">
                                <input type="hidden" name="casting_id" value={{ casting.id }}>
                            </form>
                            {{ error }}
                        {% endif %}
                    {% else %}
                        <form method="post">
                            {% csrf_token %}
                            <input class="btn btn-primary alert alert-info" type="submit" value="Откликнуться на заявку"
                                   name="test_id">
                            <input type="hidden" name="casting_id" value={{ casting.id }}>
                        </form>
                    {% endif %}
                </div>
                <div class="child">
                    {% if request.user|has_group:"Moderator" or request.user.is_superuser %}
                        <form enctype="multipart/form-data" action="{% url 'edit_casting' casting.id %}">
                            <input class="btn btn-warning" type="submit" value="Изменить кастинг">
                        </form>
                    {% endif %}
                    {% if error %}
                        {{ error }}
                    {% endif %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock content %}