{% extends 'base.html' %}

{% block content %}
    {% for casting in castings %}
        <div class="casting-entry text-white border border-white rounded">
            <h2><a href="{% url 'casting_detail' casting.pk %}">{{ casting.title }}</a></h2>
            {% if casting.image %}
                <img class="border border-dark rounded " src="{{ casting.image.url }}" height="200" width="300"
                     alt="Аватар">
            {% endif %}
            <p>Требуются: {{ casting.category }}</p>
            <p>Рост: {{ casting.height }} Одежда: {{ casting.size }} Обувь: {{ casting.sizeshoe }}</p>
            <p>Дата съемки: {{ casting.date }} Время сбора {{ casting.time }}</p>
            <p>Адрес: {{ casting.place }}</p>
            <p>Занятость: {{ casting.hour }}</p>
            <p>Ставка: {{ casting.fee }}</p>
            <p>Описание: {{ casting.description }}</p>
            <p>Контактное лицо: {{ casting.author.fio }}</p>
            {% if user.is_authenticated %}
                {% if casting.id in cast_ids %}
                    <form method="post" action="{% url 'delete_order' casting.id %}">
                        {% csrf_token %}
                        <input class="btn btn-primary alert alert-danger" type="submit" value="Отозвать заявку"
                               name="test_id">
                        <input type="hidden" name="casting_id" value={{ casting.id }}>
                    </form>
                    {{ error }}
                {% else %}
                    <form method="post">
                        {% csrf_token %}
                        <input class="btn btn-primary alert alert-info" type="submit" value="Откликнуться на заявку"
                               name="test_id">
                        <input type="hidden" name="casting_id" value={{ casting.id }}>
                    </form>
                {% endif %}
                {% if error %}
                        {{ error }}
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
{% endblock content %}