{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html" charset="UTF-8">
    <title>PDF convertion</title>
    <style>
        @font-face {
            font-family: 'sans-serif';
            src: url("C:\Diplom22\pythonProject22\mainapp\static\fonts\arial.ttf");
        }
        body{
            font-family: "sans-serif";
        }
    </style>
</head>
<body>
<h1>Список нанятых</h1>
{% for order in orders %}

    <p>{{ order.user.fio }}</p>
    <p>{{ order.user.birth_date }}</p>
    <p>{{ order.user.height }}</p>
    <p>{{ order.user.size }}</p>
    <p>{{ order.user.phone }}</p>
    <p>{{ order.user.pass_data }}</p>
    <hr>
{% endfor %}
</body>
</html>