
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  background: #343436 !important;
}

header {
  border-bottom: 2px solid #999;
  margin-bottom: 2rem;
  display: flex;
}

.nav-left {
  margin-right: auto;
}

.nav-right {
  display: flex;
  padding-top: 2rem;
}

.casting-entry {
  margin-bottom: 2rem;
  padding-left: 2rem;
}

.casting-entry h2 {
  margin: 0.5rem 0;
  text-align: center;

}

.casting-entry h2 a,
.casting-entry h2 a:visited {
  color: #d9d9e0;
  text-decoration: none;

}

.casting-entry h2 a:hover {
  color: #246ad2;
}

.casting-entry p {
  margin: 0;
  font-weight: 400;
}

.child
{
	height: 100px;
	display: inline-block;
}

